<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notepad</title>
  <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="/static/css/inter.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/catppuccin-latte.css" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="/static/css/catppuccin-mocha.css" media="(prefers-color-scheme: dark)">
  <script src="/static/js/highlight.min.js"></script>
</head>
<body>
  <div class="note-container">
    <div class="app-title">Notepad</div>
    <div class="note-header">
      <button class="btn-icon" onclick="window.location.href='/'">
        <i class="fas fa-arrow-left"></i> Back
      </button>
      <button class="btn-icon" onclick="window.location.href='/rtext'">
        <i class="fas fa-text-height"></i> Rich Text
      </button>
    </div>
    
    <div class="note-content">
      <div class="editor-toolbar">
        <button id="decrease-font" title="Decrease Font Size"><i class="fas fa-search-minus"></i></button>
        <button id="increase-font" title="Increase Font Size"><i class="fas fa-search-plus"></i></button>
        <button onclick="undoChange()" title="Undo"><i class="fas fa-undo"></i></button>
        <button onclick="redoChange()" title="Redo"><i class="fas fa-redo"></i></button>
        <button id="toggle-mode" onclick="toggleMode()" title="Reader Mode"><i class="fas fa-book-reader"></i></button>
      </div>
      
      <div id="editor-container">
        <textarea id="markdown-editor" placeholder="Write your markdown here..." spellcheck="false"></textarea>
        <div id="markdown-preview" class="markdown-body"></div>
      </div>
    </div>
  </div>
  
  <script src="/static/js/marked.min.js"></script>
  <script src="/md.js"></script>
</body>
</html>
